# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env

# Log files
*.log

# IDE settings
.vscode/

# OS files
Thumbs.db
desktop.ini
.DS_Store

# One-time scripts and utilities
keperluan/
